*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
    sans-serif;
}
:root {
    --orange: #F0A500;
    --bluefondo: #082032;
    --blueletras: #334756;
    --blanco: white;
}

body {
    background-color: var(--bluefondo);
    color: var(--blueletras);
    
}
.text-box-experience{
    margin-top: 91px;
    display: flex;
    flex-direction: column;
}
.text-box-experience img{
    height: 300px;
    width: 411px;
}
.text-box-experience h1{
    align-self: center;
    font-size: 70px;
    color: var(--orange);
}
.boxes-experience{
    width: 1500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
}
.box-experience{
    width: 447px;
    height: 638px;
    background-color:var(--blueletras);
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border-radius: 10px;
    color: white;
    
}
.box-experience h2{
    align-self: center;
    margin-top: 83px;
    margin-bottom: 53px;
}
.box-experience p{
    margin-bottom: 20px;
}

 




